doctype html
html
	head
		title WhiteBoard
		meta(charset="utf-8")
		meta(name='viewport',content='width=device-width')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(onLoad='javascript:initPaintApp();')
		block content